<div class="container ">
  <div class="row wrapper">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div *ngIf = "staticAboutContent?.content">
          <h1>{{staticAboutContent.header}}</h1>
          <div *ngFor = "let content of staticAboutContent.content">
              <h3>{{content._subheader}}</h3>
              <p>
                  {{content._subtext}}
              </p>
            </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">

    </div>
  </div>
</div>
