<mat-card> 
  <div class="">
    <mat-form-field class="search-form-field">
        <input matInput type="text" placeholder="Search problems" [(ngModel)]="value"/>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <!-- <mat-icon>close</mat-icon> -->
          <i class="fa fa-close"></i>
        </button>
    </mat-form-field>
  </div>
  <div class="">
    <mat-form-field class="option-form-field">
      <mat-select placeholder="State">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>