<!-- <p *ngIf = "visibility">
  submit-success works!
</p> -->

<div *ngIf = "visibility" class="submit-success-wrapper">
  <figure>
    <img [src] = "imageLink" alt="OK" />
    <figcaption>
      Registered Successfully! Please <a href="/login">Login.</a>
    </figcaption>
  </figure>
</div>