.ib {
    display: inline-block;
}
.profile-picture , .user-info {
    height: 10em;
}
.profile-picture img {
    width: 10em;
}
.lead {
    margin-bottom: 0em;
}

@media(max-width : 768px) {
    .profile-picture img {
        width: 7em;
    }
    .profile-picture , .user-info {
        height: auto;
    }
    .pull-down {
        position: absolute; 
        top: 3em;
    }
}