<div class="row">
  <div class="col-xs-4 col-sm-12 col-md-2 profile-picture">
    <img src="http://isranthro.org/wp-content/uploads/2014/12/AAA-WOMAN1-300x300.png" alt="dp" />
  </div>
  <div class="col-xs-8 col-sm-12 col-md-10 user-info">
    <div class="pull-down">
      <span class="lead">Deepika Padukone,</span>
      <span class="lead">31</span>
      <span class="lead">Mangalore, KA  </span>
      <i class="fa fa-2x fa-bolt"></i>
    </div>
    <span class="pull-right">
      <app-ask-btn></app-ask-btn>
    </span>
  </div>
</div>