<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="#" target="_blank">{{brandPrimary}}</a>
  </div>
  
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li *ngFor = "let navbarMenuItem of navbarMenuItems">
            <a routerLink="{{navbarMenuItem.routePath}}"> {{navbarMenuItem.name}}</a>
          </li>
          <li>
            <a class="site-red"><app-sitelogin></app-sitelogin></a>
          </li>
      </ul>
  </div><!-- /.navbar-collapse -->
</nav>