<div class="container" *ngIf = "showRegistrationForm">
  <div class="hidden-xs col-md-3"></div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <form class="form-horizontal" role="form" #regForm="ngForm">
        <h2 class="head">Registration Form</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Full Name<span class="danger">*</span></label>
            <div class="col-sm-9">
                <input [required] = "true" name="fullname" [(ngModel)] = "registerData.fullname"
                type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                <span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email<span class="danger">*</span></label>
            <div class="col-sm-9">
                <input [(ngModel)] = "registerData.email"
                [email] = "registerData.email !== '' && registerData.email !== null"
                [required] = "true"
                name="email"
                #email = "ngModel"
                type="email" id="email" placeholder="Email" class="form-control">
                <label [hidden] = "email.valid || email.pristine" class="danger"> Email not valid</label>
            </div>
            
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password<span class="danger">*</span></label>
            <div class="col-sm-9">
                <input 
                [(ngModel)] = "registerData.password"
                [required] = "true"
                name="password"
                type="password" 
                id="password" 
                placeholder="Password" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="countrycode" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">
                <select name="country" id="country"
                    [(ngModel)] = "registerData.country">
                    <option *ngFor = "let country of countries" [ngValue] = "country.nicename">
                        {{country.nicename}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="mobilenumber" class="col-sm-3 control-label">Phone Number<span class="danger">*</span></label>
            <div class="col-sm-9">
                <input 
                [(ngModel)] = "registerData.mobilenumber"
                [required] = "true"
                maxlength="10"
                name="mobilenumber"
                type="text" id="mobilenumber" placeholder="Your active number" class="form-control">
            </div>
        </div>
        <!-- <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="checkbox">
                    <label>
                        <input name = "tnc" [(ngModel)] = "registerData.accepted" type="checkbox">I accept <a href="#">terms</a>
                    </label>
                </div>
            </div>
        </div> /.form-group -->
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit"
                  [disabled] = "!regForm.form.valid"
                  (click) = "registerUser()"
                  class="btn btn-primary btn-block">Register</button>
            </div>
        </div>
    </form> <!-- /form -->
  </div>
  <div class="hidden-xs col-md-3"></div>
</div> <!-- ./container -->

<!--Submit Success -->

<app-submit-success [visibility] = "showRegisterSuccess"></app-submit-success>