<div class="ct-company-name">
  {{ _contactInfoArray && _contactInfoArray[0].ct_company_name}}
</div>
<div class="ct-company-address">
  {{ _contactInfoArray && _contactInfoArray[0].ct_company_name}}
</div>