<mat-sidenav-container class="example-container">

    <mat-sidenav class="feed-sidenav" #sidenav mode="side" [(opened)]="opened">
      Sidenav content
    </mat-sidenav>

  <mat-sidenav-content>
      <!-- <span><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></span> -->
    <div class="container">
      <!--Profile-->
      <div class="section-divider">
          
        <app-mini-profile></app-mini-profile>
      </div>
      <!--Search / Filter -->
      <div class="section-divider">
        <app-card-filter></app-card-filter>
      </div>
      <!--Problem Card -->
      <div class="section-divider">
        <app-problem-card></app-problem-card>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
<!-- 
<mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      Sidenav content
    </mat-sidenav>
  
    <mat-sidenav-content>
      <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
      <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
      <p>Events:</p>
      <div class="example-events">
        <div *ngFor="let e of events">{{e}}</div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> -->