<div class = "container">
	<div class="wrapper">
		<form action="" method="post" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Sign In</h3>
			  
				<input type="text" 
					[(ngModel)]="userparam.email" 
					class="form-control" 
					name="Username" 
					placeholder="Username" 
					required="" 
					autofocus="" />
				<input 
					type="password" 
					[(ngModel)]="userparam.password" 
					class="form-control" 
					name="Password" 
					placeholder="Password" required=""/>     		  
				<p>Not Registered Yet? <a href="/register">Sign Up</a> Now!</p>	
				<button class="btn btn-lg btn-primary btn-block" (click) = "login()" name="Submit" value="Login" type="Submit">Login</button>  			
		</form>			
	</div>
</div>