<!--This page is the layout of the contact page -->
<div class="page-wrapper container">
<div class="header">
  <h1>Contact Us</h1>
</div>
<div class="main-layout row">
  
  <!--Left Hand Side -->
  <div class="left-content col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
    <div class="subheader">
      <p>
        {{ _contactInfoArray && _contactInfoArray[0].ct_page_desc}}
      </p>
    </div>
    <div class="contact-form">
      <app-contact-form></app-contact-form>
    </div>
  </div>
  <!--Right Hand Side -->
  <div class="left-content col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
    <div class="company-address">
      <!--Insert Company Details -->
      <div class="ct-company-name">
        <label>{{ _contactInfoArray && _contactInfoArray[0].ct_company_name}}</label>
      </div>
      <div class="ct-company-address">
        <label>{{ _contactInfoArray && _contactInfoArray[0].ct_company_address}}</label>
      </div>
      <div class="ct-company-email">
        <label>{{ _contactInfoArray && _contactInfoArray[0].ct_company_email}}</label>
      </div>
      <div class="ct-company-num">
        <label>{{ _contactInfoArray && _contactInfoArray[0].ct_company_mbnum}}</label>
      </div>
    </div>

  </div>
</div>
</div>