/* .jumbotron-billboard .img {
    color: #fff;
    background: url("http://localhost:3000/static/images/banner.PNG") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
} */
.jumbotron h2 {margin-top:0; color : #000000;}
.jumbotron {
  position:fixed;
  height: 100vh;
  padding-top:30px;
  padding-bottom:50px;
  width : 100%;
  color : #000000;
  background-color: inherit;
}
.jumbotron .container {
  position:relative;
  z-index:2;
  top: calc(50% - 65px);
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
}