<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <h2>Math Foundation</h2>
                  <p>
                      Build your mathematical foundation with us!
                  </p>
                  <a href="/register" class="btn btn-success btn-lg">Sign Up</a>
              </div>
          </div>
      </div>
  </div>