/* You can add global styles to this file, and also import other style files*/
/* @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';  */
@import "../node_modules/font-awesome/css/font-awesome.min.css";
/**
Color Pallete
**/
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    /* background: url(http://localhost:3000/static/images/banner.PNG) top center no-repeat;
    background-color: #020b0a;
    width: 100%;
    height: 100%;
    color: #ffffffc7;
    overflow: hidden;
    background-size: auto 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; */
}
.darkest {
    background-color: #020e0e;
}
.light-dark {
    background-color: #266062;
}
.site-red {
    background-color: #ff000094;
}
.navbar-inverse {
    background-color: #031110;
    border-color: #031110;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fdfdfd;
}
.pull-down {
    position: absolute;
    bottom: 0;
}
/*
    Responsive
*/
@media(min-width : 1200px) {
    body {
        background-size: auto;
    }
}