<div class="question-form-container">
  <mat-form-field
      class="question-form-field"
      [hideRequiredMarker]="options.value.hideRequired"
      [floatLabel]="options.value.floatLabel">
    
    <mat-label>Subject Line</mat-label>
    <input [(ngModel)] = "formUserInputData.q_subject" matInput 
      placeholder="Calculus, Differentiation, Integration" required>
  </mat-form-field>

  <mat-form-field 
    class="question-form-field"
    [floatLabel]="options.value.floatLabel">
    <mat-label>Problem Statement</mat-label>
    <textarea [(ngModel)] = "formUserInputData.q_statement" 
      rows="10" matInput 
      placeholder="Describe your problem as ellaborately you can."></textarea>
  </mat-form-field>

  <div class="post-question-btn">
    <button
      class="pull-right"
      [disabled] = "formUserInputData.question_desc == '' || formUserInputData.question_subject == '' " 
      mat-raised-button 
      (click) = "postQuestion()" 
      color="warn">Post Question</button>
  </div>

</div>


  <!-- <mat-form-field 
    class="question-form-field">
    <input matInput placeholder="Upload Files" required>
    <mat-icon>attach_file</mat-icon>
    <input [style.visibility] = "(hideFileType == true) ? 'hidden' : 'visible' " type="file"/>
  </mat-form-field> -->
